<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--  -->
    <!-- css -->
    <link rel="stylesheet" href="/views/style/style.css">
    <!--  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <img src="https://dumbways.id/assets/images/brandred.png" alt="pp" class="navbar-brand"  style="width: 2.5rem;"/>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">My Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/testimonial">Testimonial</a>
                    </li>
                    
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/kontak">Contact</a>
                    </li>
              
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class=" row my-5 mx-2  p-3 shadow">
            <div class="col ">
                <!-- <form onsubmit="tambahBlog(event)" class="mb-4"> -->
                <form class="mb-4" action="/formEditBlog/{{.Blogsh.Id}}" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="id" class="form-label">ID</label>
                        <input type="text" class="form-control" id="id" value="{{.Blogsh.Id}}" aria-describedby="emailHelp" name="id" disabled />
                    </div>
                    <div class="mb-3">
                        <label for="nama" class="form-label">Name Project</label>
                        <input type="text" class="form-control" id="nama" aria-describedby="emailHelp" name="nama" value="{{.Blogsh.Nama}}" />
                    </div>
                    <div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="start" class="form-label">Start Date</label>
                                    <input type="date" class="form-control" id="start" name="start" value="{{.Blogsh.PostDate}}" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="endDate" class="form-label">End Date</label>
                                    <input type="date" class="form-control" id="endDate" name="endDate" value="{{.Blogsh.EndDate}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="deskripsi" class="form-label">Example textarea</label>
                        <textarea class="form-control" id="deskripsi" rows="3" name="deskripsi">{{.Blogsh.Deskripsi}}</textarea>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="yes" id="nodeJss" name="nodeJss"
                                    {{if .Blogsh.NodeJs}} checked {{end}} />
                                    <label class="form-check-label" for="nodeJss">
                                        Node js
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="yes" id="react" name="react"
                                    {{if .Blogsh.ReactJS}} checked {{end}} />
                                    <label class="form-check-label" for="react">
                                        React js
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="yes" id="next" name="next"
                                    {{if .Blogsh.NextJs}} checked {{end}} />
                                    <label class="form-check-label" for="next">
                                        Next Js
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="yes" id="typeScript" name="typeScript"
                                    {{if .Blogsh.TypeScript}} checked {{end}} />
                                    <label class="form-check-label" for="typeScript">
                                        Type Script
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Images</label>
                        <input type="file" class="form-control" id="image" aria-describedby="emailHelp" name="fileImage" value="{{.Blogsh.Img}}" required/>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous">
    </script>
  

</body>

</html>