<!doctype html>
<!-- <html lang="en"  data-bs-theme="dark"> -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--  -->
    <!-- css -->
    <link rel="stylesheet" href="/assets/style/style.css">
    <!--  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="color: var(--hitam-color) !important;">
        <div class="container">
            <img src="https://dumbways.id/assets/images/brandred.png" alt="pp" class="navbar-brand"
                style="width: 2.5rem;" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">My Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="testimonial">Testimonial</a>
                    </li>

                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="kontak">Contact</a>
                    </li>
                    {{if .DataSession.IsLogin}}
                        <li class="nav-item mx-3 my-2">
                            <a href="#" style="text-decoration: none; color: black"><i class="fa-solid fa-user"></i>
                                {{.DataSession.Name}}</a>
                        </li>
                        <li class="nav-item mx-3 my-1 ">
                            <form id="myform" action="/logout" method="POST"></form>
                            <button onclick="document.getElementById('myform').submit()" class="btn-auth bg-dark text-light border-dark rounded-2 px-3 py-1 ">
                                <i class="fa-solid fa-right-from-bracket text-light"></i> Logout
                            </button>
                        </li>
                        {{else}}
                        <li class="nav-item my-2 px-2">
                            <a href="/regis" class="btn-auth text-decoration-none"> Register</a>
                        </li>
                        <li class="nav-item my-2 px-2">
                            <a href="/login" class="btn-auth text-decoration-none">Login</a>
                        </li>
                        {{end}}
                </ul>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="/assets/js/kontak.js"></script>
</body>

</html>